body {
    background-color: rgb(34, 33, 33);
}

center h1, center h4 {
    color: rgb(168, 150, 150);
    font-family:Georgia, 'Times New Roman', Times, serif;  
}


.flex-container {
    display: flex;
    margin: 60px;
    border: 1px solid rgb(167, 159, 159);
    border-radius: 25px;
    height: 250px;
    
    
}

.flex-container div {
    width: 200px;
    flex-grow: 1;
}

div img {
    object-fit: contain;
    width: 100%;
    height: 100%;

}