body {
    background-color: rgb(34, 33, 33);
}

#heading {
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
}


.flex-container {
    display: flex;
    margin: 90px;
    border: 1px solid rgb(167, 159, 159);
    border-radius: 7px;
    height: 250px;
    
    
}

.flex-container div {
    width: 200px;
    flex-grow: 1;
}

div img {
    object-fit: contain;
    width: 100%;
    height: 100%;

}